*{outline: red 1px solid;}

body{
    background-color: #82DDB;
    background-image: url(img/illustration.gif),
        url('img/texture.jpg');
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    
}

#nav{
    background-color: #6B9;
    border-bottom: 2px dashed #487;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    word-spacing: 2em;
    
    
}

#header {
    text-align: center;
    margin-top: 40px;
    
}

#logo {
    max-width: 360px
}

#description, #date {
    max-width: 220px
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px
}

#what {
    background-color: #bdf1dd;
    font-weight: bold;
    text-align: center;
    color: #1d7485;
    margin-top: 450px;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    
}

#why {
    background-color: #a8efd4;
    color: #1d7485;
    font-weight: bold;
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px
}

#where {
    background-image:
        url(img/map.gif);
    padding-top: 50px;
    padding-bottom: 450px;
    text-align: center;
    color: #ce1189;
   
}

#when {
    color: white;
    background-color: #109e9a;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    background-image:url(img/wires.png)
}

#who {
    background-color:azure;
    color: #1d7485;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    
}

#footer {
    background-color: #82DDB;
    background-image: 
        url('img/texture.jpg');
    max-width: 30px;
    
}
