* {outline:white 3px solid}

 .header {
     background-color: #990000;
     height: 100px;
     position: fixed;
}

.logo {
    font-size: 3rem;
    text-align: left;
    font-family: 'Lobster', cursive;
    color: white;
    line-height: 100px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

.links {
    margin-top: 30px;
    font-size: 2rem;
    text-align: right;
    
    
}

.links a {
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    
}
            
            .home {
                background-color: #404040;
                height: 500px;
                text-align: center;
            }
            
            .menu {
                background-color: #404040;
                height: 500px;
                text-align: center;
                color: white; 
                padding: 15px;
            }
            
            .contact {
                background-color: lightgray;
                height: 400px;
                padding:20px;
                text-align: center;
                font-size: 1.5rem;
            }
            
            /* xs devices */
            body {background-color: red}
            
            /* sm devices */
            @media( min-width: 576px) {
                body {background-color: orange}
            }
            
            /* md device */
            @media (min-width: 768px) {
                body {background-color: yellow}
                
                .home { height: 500px; }
                
                .menu { height: 300px;}
            
            }
            
            /* lg device */
            @media (min-width:992px) {
                body {background-color: green}
                
                .home {height: 500pxpx;}
                .menu {height: 500px;}
                .grey {height:180px; }
            }
            
            /* xl device */
            @media (min-width:1200px) {
                body {background-color: blue}
                
                .home {height: 500px }
            }
       


body {
    background-color: #F2E2CE;
    margin: 0;
}


#contacts {
   
}



            