

.header {
     background-color: #990000;
     height: 100px;
    top: 0; 
     position:fixed; 
     
    
}

.logo {
    font-size: 3rem;
    text-align: left;
    font-family: 'Lobster', cursive;
    color: white;
    line-height: 100px;
}



.links {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: left;
    
    
}

.links a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    
}


            
.home {
    background-color: lightgray;
    height: 500px;
    text-align: center;
    padding: 20px;
    
}

#home {
    max-height: 600px; 
}
            
 .menu {
    background-color: lightgray;
    height: 500px;
    text-align: center;
    color: black; 
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#menu {
    background-color: lightgray;
    color: black;
    font-family: 'Lobster', cursive;
    text-align: center;
    height 20px;
    
}

.menu_title {
    height: 100px;
    background-color: lightgray;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    text-align: center;
}
            
.contact {
    background-color: lightgray;
     height: 400px;
     padding:100px;
     padding-bottom: 50px;
     text-align: center;
     font-size: 1.5rem;
     font-family: 'Open Sans', sans-serif;
    
 }

#Contacts {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

.about {
     background-color: lightgray;
     height: 400px;
     padding-top: 100px;
     padding:100px;
     text-align: left;
     font-size: 1.5rem;
     font-family: 'Open Sans', sans-serif;
}

#About {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
}
            
            /* xs devices */
            body {background-color: white}
            
            /* sm devices */
            @media( min-width: 576px) {
                body {background-color: white}
                #menu { height 15px;}
            }
            
            /* md device */
            @media (min-width: 768px) {
                body {background-color: white}
                
                .home { height: 500px; }
                
                .menu { height: 350px;}
                
                #menu { height 15px;}
            
            }
            
            /* lg device */
            @media (min-width:992px) {
                body {background-color: white}
                
                .home {height: 500pxpx;}
                .menu {height: 500px;}
                #menu { height 15px;}
            }
            
            /* xl device */
            @media (min-width:1200px) {
                body {background-color: white}
                
                .home {height: 500px }
                #menu { height 15px;}
            }
       



\

            